:host{
    width: 80%;
    margin: 40px 0;
}
.input-container{
    display: flex;
    justify-content: space-between;
    height: 40px;
}
.input{
    width: 85%;
}
.input-btn{
    width: 10%;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #1BA1E2;
    color: #ffffff;
}